<mat-drawer-container class="sidebar-container" cdkDropListGroup>
  <mat-drawer mode="side" opened>
    <div class="col-md-3">
      <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header class="asw-expansion-panel-header">
            <mat-panel-title>
              Text Elements
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div cdkDropList [cdkDropListData]="textElementControls">
            <div class="row">
              <ng-container *ngFor="let item of textElementControls">
                <div class="col-md-12">
                  <div class="alert alert-primary d-flex asw-alert-primary align-items-center" cdkDrag>
                    <mat-icon class="asw-icon mr-1 me-1">{{item.icon}}</mat-icon>
                    {{item.displayName}}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header class="asw-expansion-panel-header">
            <mat-panel-title>
              Date & Time Elements
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div cdkDropList [cdkDropListData]="dateElementControls">
            <div class="row">
              <ng-container *ngFor="let item of dateElementControls">
                <div class="col-md-12">
                  <div class="alert alert-primary d-flex asw-alert-primary align-items-center" cdkDrag>
                    <mat-icon class="asw-icon mr-1 me-1">{{item.icon}}</mat-icon>
                    {{item.displayName}}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header class="asw-expansion-panel-header">
            <mat-panel-title>
              Multi Elements
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div cdkDropList [cdkDropListData]="multiElementControls">
            <div class="row">
              <ng-container *ngFor="let item of multiElementControls">
                <div class="col-md-12">
                  <div class="alert alert-primary d-flex asw-alert-primary align-items-center" cdkDrag>
                    <mat-icon class="asw-icon mr-1 me-1">{{item.icon}}</mat-icon>
                    {{item.displayName}}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
          <mat-expansion-panel-header class="asw-expansion-panel-header">
            <mat-panel-title>
              Other Controls
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div cdkDropList [cdkDropListData]="otherElementControls">
            <div class="row">
              <ng-container *ngFor="let item of otherElementControls">
                <div class="col-md-12">
                  <div class="alert alert-primary d-flex asw-alert-primary align-items-center" cdkDrag>
                    <mat-icon class="asw-icon mr-1 me-1">{{item.icon}}</mat-icon>
                    {{item.displayName}}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="col-md-9">
      <mat-card>
        <mat-card-content>
          <div cdkDropList [cdkDropListData]="formContainer" class="asw-list" (cdkDropListDropped)="drop($event)">
            <div class="row">
              <ng-container *ngFor="let control of formContainer; let i = index">
                <div class="asw-box" [ngClass]="control.column" cdkDrag>
                  <ng-container [ngSwitch]="control.controlType" class="asw-full-width">
                    <ng-container *ngSwitchCase="'header'">
                      <asw-header [control]="control" [controlIndex]="i" [isPreviewTemplate]="true"
                        (headerUpdateEvent)="updatedControl($event)" (headerDeleteEvent)="deleteControl($event)"
                        (duplicateControl)="duplicateControl($event)">
                      </asw-header>
                    </ng-container>
                    <ng-container *ngSwitchCase="'textfield'">
                      <asw-textfield [control]="control" [controlIndex]="i" [isPreviewTemplate]="true"
                        (textFieldUpdateEvent)="updatedControl($event)" (textFieldDeleteEvent)="deleteControl($event)"
                        (aswModelChange)="onSelectionChange($event)" (duplicateControl)="duplicateControl($event)">
                      </asw-textfield>
                    </ng-container>
                    <ng-container *ngSwitchCase="'textarea'">
                      <asw-textarea [control]="control" [controlIndex]="i" [isPreviewTemplate]="true"
                        (textAreaUpdateEvent)="updatedControl($event)" (textAreaDeleteEvent)="deleteControl($event)"
                        (aswModelChange)="onSelectionChange($event)" (duplicateControl)="duplicateControl($event)">
                      </asw-textarea>
                    </ng-container>
                    <ng-container *ngSwitchCase="'number'">
                      <asw-number [control]="control" [controlIndex]="i" [isPreviewTemplate]="true"
                        [formControls]="formContainer" (numberUpdateEvent)="updatedControl($event)"
                        (numberDeleteEvent)="deleteControl($event)" (aswModelChange)="onSelectionChange($event)"
                        (duplicateControl)="duplicateControl($event)">
                      </asw-number>
                    </ng-container>
                    <ng-container *ngSwitchCase="'calculation'">
                      <asw-calculation [control]="control" [controlIndex]="i" [formControls]="formContainer"
                        [isPreviewTemplate]="true" (calculationUpdateEvent)="updatedControl($event)"
                        (calculationDeleteEvent)="deleteControl($event)" (aswModelChange)="onSelectionChange($event)"
                        (duplicateControl)="duplicateControl($event)">
                      </asw-calculation>
                    </ng-container>
                    <ng-container *ngSwitchCase="'select'">
                      <asw-select [control]="control" [controlIndex]="i" [isPreviewTemplate]="true"
                        (selectUpdateEvent)="updatedControl($event)" (selectDeleteEvent)="deleteControl($event)"
                        (selectionChange)="onSelectionChange($event)" (duplicateControl)="duplicateControl($event)">
                      </asw-select>
                    </ng-container>
                    <ng-container *ngSwitchCase="'multi-select'">
                      <asw-multi-select [control]="control" [controlIndex]="i" [isPreviewTemplate]="true"
                        (multiSelectUpdateEvent)="updatedControl($event)"
                        (multiSelectDeleteEvent)="deleteControl($event)" (selectionChange)="onSelectionChange($event)"
                        (duplicateControl)="duplicateControl($event)">
                      </asw-multi-select>
                    </ng-container>
                    <ng-container *ngSwitchCase="'radio'">
                      <asw-radio-button [control]="control" [controlIndex]="i" [isPreviewTemplate]="true"
                        (radioButtonUpdateEvent)="updatedControl($event)"
                        (radioButtonDeleteEvent)="deleteControl($event)" (selectionChange)="onSelectionChange($event)"
                        (duplicateControl)="duplicateControl($event)">
                      </asw-radio-button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'checkbox'">
                      <asw-checkbox [control]="control" [controlIndex]="i" [isPreviewTemplate]="true"
                        (checkboxUpdateEvent)="updatedControl($event)" (checkboxDeleteEvent)="deleteControl($event)"
                        (selectionChange)="onSelectionChange($event)" (duplicateControl)="duplicateControl($event)">
                      </asw-checkbox>
                    </ng-container>
                    <ng-container *ngSwitchCase="'datepicker'">
                      <asw-datepicker [control]="control" [controlIndex]="i" [isPreviewTemplate]="true"
                        (datepickerUpdateEvent)="updatedControl($event)" (datepickerDeleteEvent)="deleteControl($event)"
                        (dateChange)="onSelectionChange($event)" (duplicateControl)="duplicateControl($event)">
                      </asw-datepicker>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
